<div class="col-md- 12 ">
  <div class="row">
    <div *ngFor="let user of users">

      <div id="container-users-visits">
        <div class="row">
          <div class="row" style="float: left;">
            <a routerLink="/user/profile/{{ user.username }}" id="card-href " class="search-results" infiniteScroll
              [infiniteScrollDistance]="2" [infiniteScrollThrottle]="3" (scrolled)="onScroll()"
              style="list-style-type:none;text-decoration:none;">
              <div class="card bg-light  mb-3 mr-5  ml-5 mt-2 " id="custom-card-design">
                <img id="card-img-top image-thumbnail" id="card-img" src="{{ user.profilePhoto }} "
                  alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title ">{{ user.firstName }} {{ user.lastName }} , {{ user.aboutMe.age }}
                  </h5>
                  <p class="card-text" id="card-bio">{{ user.aboutMe.bio }}
                  </p>
                </div>
              </div>

            </a>
          </div>
        </div>
      </div>


    </div>
  </div>


  <ngx-spinner size="medium" color="#00C9A7" type="ball-clip-rotate" [fullScreen]="true">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
</div>