#card-img{
    object-fit: cover;
    height: 200px;
    width: 256px;
}
.card-body{
    max-width: 16rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    border-radius: 10px;
    color: #313437;
    overflow: hidden;
    background-color: white;
    text-decoration: none;
    list-style-type: none;
}
.card-title{
    font-size: 18px;
    font-weight: 700;
    color: #222;
}

#card-href{
    list-style-type: none;
    color: black;
    text-decoration: none;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}


#card-bio:hover {
    text-decoration: none;
    list-style-type: none;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
}

#pills-visits-tab{
    color: #1e1e1e;
}
#navbar{
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    height: 100px;
}