    <!-- ==========================================================================Footer ================================================================= -->
	<hr>
	<div class="newsletter-subscribe">
        <div class="container-fluid">
            <div class="intro">
                <h2 class="text-center" style="font-size:33px;">Subscribe for our Newsletter</h2>
                <p class="text-center">Get notified about company news, updates and be the first get early access to the&nbsp;<strong>faster, simpler and smarter</strong>&nbsp;way of presenting.
                    <br>
                </p>
            </div>
            <form class="form-inline" method="post">
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Your Email" style="width:381px;">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" [routerLink]="['/subscribe']" routerLinkActive="router-link-active" type="submit">Subscribe </button>
                </div>
            </form>
        </div>
    </div>
<!-- -->
<!-- Footer -->
<section id="footer">
		<div class="container">
			<div class="row text-center ">
				<div class="col-xs-12 col-sm-4 col-md-8 col-lg-12">
				
					<ul class="list-unstyled quick-links">
						<li class="list-inline-item pr-1">Home</li>
						<li class="list-inline-item pr-1">About</li>
						<li class="list-inline-item pr-1">Terms & Conditions</li>
						<li class="list-inline-item pr-1">Privacy Policy</li>
            <li class="list-inline-item pr-1">Dating Securely</li>
            <li class="list-inline-item pr-1">Help Center</li>
            <li class="list-inline-item pr-1">Become A Partner</li>
					</ul>
				</div>
			
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><i class="fa fa-facebook"></i></li>
						<li class="list-inline-item"><i class="fa fa-twitter"></i></li>
						<li class="list-inline-item"><i class="fa fa-instagram"></i></li>
						<li class="list-inline-item"><i class="fa fa-google-plus"></i></li>
						<li class="list-inline-item"><i class="fa fa-envelope"></i></li>
					</ul>
				</div>
				
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <h2>All right reserved</h2>
				</div>
		
			</div>	
		</div>
	</section>
	<!-- ./Footer -->