
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link th:href="@{/assets/css/navbar.css}" href="/assets/css/navbar.css" type="text/css" media="all" rel="stylesheet" />
    <link th:href="@{/assets/css/sidenav.css}" href="/assets/css/sidenav.css" type="text/css" media="all" rel="stylesheet" />
    <link th:href="@{/assets/css/settings.css}" href="/assets/css/settings.css" type="text/css" media="all" rel="stylesheet" />
<body>
<app-header></app-header>
<div class="container-fluid mt-5">

    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-2 "  >
                <app-side-nav></app-side-nav>
            </div>
            <div class="col-lg-10 " >
                <nav class="navbar navbar-light "  id="navbar" >
                    <a class="navbar-brand mb-0 h1" href="#">Settings</a>


                    <!-- Button trigger modal -->
                </nav>
                <div class="container  mb-5" id="container-sub">
                    <div class="row">
                        <!-- Tab panes -->
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="basic-container">
                                    <div *ngFor="let user of users">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div  class="img-thumbnail rounded mx-auto d-block mt-5" th:style="|background:url(@{${user.getProfilePhoto()}});height:300px; width:300px;background-size:cover;background-position:center;,margin-left:50%;| "></div>
                                                    </div>
                                                    <!-- <h2 class="text-center mt-4" th:text="${user.getFirstName()}+ ' '+${user.getLastName()}"></h2> -->
                                                    <!-- <h6 class="text-center mb-5" th:text="${user.getUsername()}"></h6> -->
                                                    <div class="col-md-12">
                                                        <form action="/upload" method="post" enctype="multipart/form-data">
                                                            <div class="row">
                                                                <div class="col-md-10">
                                                                    <div class="custom-file">
                                                                        <input type="file" name="file" class="custom-file-input" id="customFile">
                                                                        <label class="custom-file-label" for="customFile"><i class="fa fa-upload"></i> Choose file</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <button class="btn btn-success" type="submit"><i class="fa fa-upload"></i> Upload</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- Deletes the user profile-->
                                                    <button class="btn  btn-link btn-block mt-2" data-toggle="modal" data-target="#exampleModalCenter"> <i class="fas fa-exclamation-circle mr-2"></i>Delete Profile</button>
                                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="alert alert-warning" role="alert">
                                                                        * Note  : Your every images, videos, messages will be deleted permanently.
                                                                        Click delete profile to continue
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button class="btn btn-secondary" data-dismiss="modal" type="button"><i
                                                                            class="fas fa-times-circle"></i>Close
                                                                    </button>
                                                                    <hr>
                                                                    <a th:href="@{/profile/delete}">
                                                                        <button class="btn btn-danger btn-block" type="button"><i class="far fa-trash-alt"></i> Delete
                                                                            Profile
                                                                        </button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="container" >
                                                        <span id="response"></span>
                                                        <div id="container-password">
                                                            <h1 class="mb-5">Change Password </h1>
                                                            <form method="POST" id="password-form" action="/api/settings/password/save">
                                                                <!-- <div th:text="${message}"></div> -->
                                                                <div class="form-group">
                                                                    <label for="oldpassword">Old Password:&nbsp;</label>
                                                                    <input class="form-control form-control-lg" id="oldpassword" name="oldPassword"  type="password">
                                                                    <label for="password">New Password:&nbsp;</label>
                                                                    <input class="form-control form-control-lg" type="password" name="password" id="password">
                                                                </div>
                                                                <hr>
                                                                <br>
                                                                <button class="btn btn-success  btn-block" id="password-btn" style="background-color: #00C9A7;border-color: white;padding:10px;border-radius: 10px;" type="submit"><i class="fa fa-save"></i>&nbsp;Change
                                                                    Password
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<script src="https://kit.fontawesome.com/6f40d29aa1.js" crossorigin="anonymous"></script>
<script th:src="@{/assets/js/header.js}" type="application/javascript" src="/assets/js/header.js"></script>
<script th:src="@{/assets/js/settings.js}" type="application/javascript" src="/assets/js/settings.js"></script>
