#container-sub{
    padding: 50px;
}
#custom-button{
    background-color: #00C9A7;
    color: white;
    padding: 10px;
    border: white;
    border-radius:10px;
}
#custom-text{
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
}
#navbar {
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
    height: 100px;
}