
<div id="fullpage">
    <div class="section s1 active">

        <!-- ===============================================================Search Container ===================================================================-->
        <div class="register-photo ">
            <div class="container-fluid offset-lg-1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-6">
                            <div class="container" style="margin-top:300px;color :white; ">
                            <p id="subheading" style="font-size:30px;">WELCOME TO</p>
                            <h1 id="heading" style="font-size:80px;">CUPID LOVE</h1>
                            <p id="paragraph" style="font-size:20px;">CUPID LOVE is a magnificent set developed to inspire your next world’s largest Dating Website & Application design.</p>
                            <button class="btn btn-danger btn-lg" rou>Register now</button>
                            </div>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function() {
            $(document).scroll(function() {
                var $nav = $(".navbar-fixed-top");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            });
        });
    </script>
    <app-footer></app-footer>