<form method="POST" [formGroup]="signupForm" (ngSubmit)="signupUser()">

    <ng-wizard [config]="config" style="margin-top:100px;" (stepChanged)="stepChanged($event)">

        <ng-wizard-step [title]="'Step 1'" [description]="'Step 1 description'">



            <div class="container  col-lg-4 " id="signup-form">

                <h2 class="text-center" style="font-size:33px;">
                    <strong>Account Signup</strong>
                    <hr class="col-lg-5 mb-4">
                </h2>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <!--  ===============================================First Name input field ========================================-->
                            <div class="form-group">
                                <label for="firstname">First Name: </label>
                                <input name="firstname" [class.is-valid]="registerFormControl.firstname.valid && registerFormControl.firstname.untouched" [class.is-invalid]="registerFormControl.firstname.invalid && registerFormControl.firstname.touched" formControlName="firstname" type="text" id="firstname" class="form-control mb-2 form-control-lg" autofocus required />
                                <div class="alert alert-danger mt-1" role="alert"   *ngIf="registerFormControl.firstname.invalid && registerFormControl.firstname.touched">
                                    <small class="text-danger" *ngIf="registerFormControl.firstname.errors?.required"><i class="fa fa-remove"></i>FirstName is required</small>
                                    <small class="text-danger"*ngIf="registerFormControl.firstname.errors?.minlength"><i class="fa fa-remove"></i>FirstName charecters must be atleast 3 charecters</small>
                                    <small class="text-danger" *ngIf="registerFormControl.firstname.errors?.maxlength"><i class="fa fa-remove"></i> FirstName charecters must be less than 20charecters</small>
                                    <small class="text-danger" *ngIf="registerFormControl.firstname.errors?.forbiddenName"><i class="fa fa-remove"></i> FirstName is not allowed</small>
                                </div>
                            </div>
                        </div>
                        <!--  ===============================================Last Name input field ========================================-->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="lastname">Last Name: </label>
                                <input name="lastname" formControlName="lastname"  [class.is-valid]="registerFormControl.lastname.valid && registerFormControl.lastname.untouched" [class.is-invalid]="registerFormControl.lastname.invalid && registerFormControl.lastname.touched" id="lastname" type="text" class="form-control mb-2 form-control-lg" autofocus required />
                                <div class="alert alert-danger mt-1" role="alert" *ngIf="registerFormControl.lastname.invalid && registerFormControl.lastname.touched">
                                    <small class="text-danger" *ngIf="registerFormControl.lastname.errors?.required"><i class="fa fa-remove"></i>Last Name is required</small>
                                    <small class="text-danger" *ngIf="registerFormControl.lastname.errors?.minlength"><i class="fa fa-remove"></i>Last Name charecters must be atleast 3 charecters</small>
                                    <small class="text-danger" *ngIf="registerFormControl.lastname.errors?.maxlength"><i  class="fa fa-remove"></i> Last Name charecters must be less than 20 charecters</small>
                                    <small class="text-danger"*ngIf="registerFormControl.lastname.errors?.forbiddenName"><i class="fa fa-remove"></i> Last Name is not allowed</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  ===============================================Username input field ========================================-->
                <div class="form-group">
                    <label for="username">Username: </label>
                    <input formControlName="username"  [class.is-valid]="registerFormControl.username.valid && registerFormControl.username.untouched" pattern="^((?!.*[^a-zA-Z\d])(?=.*[A-Z])(?=.*[a-z])(?=.*\d).{5,20})$" [class.is-invalid]="registerFormControl.username.invalid && registerFormControl.username.touched" name="username" id="username" type="text" class="form-control mb-2 form-control-lg" autofocus required />
                    <div class="alert alert-danger mt-1" role="alert" *ngIf="registerFormControl.username.invalid && registerFormControl.username.touched">
                        <small class="text-danger" *ngIf="registerFormControl.username.errors?.required">   <i class="fa fa-remove"></i>Username is required</small>
                        <small class="text-danger" *ngIf="registerFormControl.username.errors?.minlength"><i class="fa fa-remove"></i>Username charecters must be atleast 3 charecters</small>
                        <small class="text-danger" *ngIf="registerFormControl.username.errors?.maxlength"><i  class="fa fa-remove"></i> Username charecters must be less than 20 charecters</small>
                        <small class="text-danger" *ngIf="registerFormControl.username.errors?.forbiddenName"><i class="fa fa-remove"></i> Username is not allowed</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <!--  ===============================================Password input field ========================================-->
                        <div class="form-group">
                            <div class="form-group">
                                <label for="password">Password: </label>
                                <input formControlName="password" [class.is-valid]="registerFormControl.firstname.valid && registerFormControl.firstname.untouched"  pattern="^((?!.*[^a-zA-Z\d])(?=.*[A-Z])(?=.*[a-z])(?=.*\d).{5,20})$" [class.is-invalid]="registerFormControl.password.invalid  && registerFormControl.password.touched " name="password" id="password" type="password" class="form-control mb-2 form-control-lg" required />
                                <div class="alert alert-danger mt-1" role="alert" *ngIf="registerFormControl.password.invalid && registerFormControl.password.touched">
                                    <small class="text-danger" *ngIf="registerFormControl.password.errors?.required"><i class="fa fa-remove"></i>password is required</small>
                                    <small class="text-danger" *ngIf="registerFormControl.password.errors?.minlength"><i class="fa fa-remove"></i>password charecters must be atleast 3 charecters</small>
                                    <small class="text-danger" *ngIf="registerFormControl.password.errors?.maxlength"><i class="fa fa-remove"></i> password charecters must be less than 20 charecters</small>
                                    <small class="text-danger" *ngIf="registerFormControl.password.errors?.forbiddenName"><i  class="fa fa-remove"></i> password is not allowed</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!--  ===============================================Retype password input field========================================-->
                        <div class="form-group">
                            <label for="repassword">Re-Password: </label>
                            <input formControlName="repassword" [class.is-valid]="registerFormControl.repassword.valid && registerFormControl.repassword.untouched" name="repassword" pattern="{{password.value}}"  compare="password" [class.is-invalid]="registerFormControl.repassword.invalid &&registerFormControl.repassword.touched" id="repassword" type="password" class="form-control mb-2 form-control-lg" autofocus
                                required />
                            <div class="alert alert-danger mt-1" role="alert" *ngIf="registerFormControl.password.invalid && registerFormControl.repassword.touched">
                                <small class="text-danger" *ngIf="registerFormControl.repassword.errors?.required"><i class="fa fa-remove"></i>repassword is required</small>
                                <small class="text-danger" *ngIf="registerFormControl.repassword.errors?.minlength"><i class="fa fa-remove"></i>repassword charecters must be atleast 3 charecters</small>
                                <small class="text-danger" *ngIf="registerFormControl.repassword.errors?.maxlength"><i class="fa fa-remove"></i> repassword charecters must be less than 20 charecters</small>
                                <small class="text-danger" *ngIf="registerFormControl.repassword.errors?.forbiddenName"><i class="fa fa-remove"></i> repassword is not allowed</small>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  ===============================================Email field ========================================-->
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input formControlName="email" name="email" [class.is-valid]="registerFormControl.email.valid && registerFormControl.email.untouched" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  [class.is-invalid]="registerFormControl.email.invalid && registerFormControl.email.touched" name="email" id="email" type="text" class="form-control mb-2 form-control-lg" autofocus required />
                    <div class="alert alert-danger mt-1" role="alert"  *ngIf="registerFormControl.password.invalid && registerFormControl.email.touched">
                        <small class="text-danger" *ngIf="registerFormControl.email.errors?.required"><i class="fa fa-remove"></i>email is required</small>
                        <small class="text-danger" *ngIf="registerFormControl.email.errors?.minlength"><i class="fa fa-remove"></i>email charecters must be atleast 3 charecters</small>
                        <small class="text-danger" *ngIf="registerFormControl.email.errors?.maxlength"><i class="fa fa-remove"></i> email charecters must be less than 20 charecters</small>
                        <small class="text-danger" *ngIf="registerFormControl.email.errors?.forbiddenName"><i class="fa fa-remove"></i> email is not allowed</small>
                    </div>
                </div>
            </div>

        </ng-wizard-step>




        <ng-wizard-step [title]="'Step 2'" [description]="'Step 2 description'" (stepChanged)="stepChanged($event)">

            <div class="container  col-lg-4 " id="signup-form">
                <h2 class="text-center" style="font-size:33px;">
                    <strong>Your Appearance</strong>
                    <hr class="col-lg-5 mb-4">
                </h2>
                <div class="form-group">
                    <label for="bodyType ">What is your body type ?</label>
                    <select class="form-control" formControlName="bodyType" [class.is-invalid]="registerFormControl.bodyType.invalid && registerFormControl.bodyType.touched"  [class.is-valid]="registerFormControl.bodyType.valid && registerFormControl.bodyType.untouched"  required name="bodyType" id="bodyType ">
                        <option value="" id="bodyType" selected></option>
                        <option value="Average">Average</option>
                        <option value="Curvy">Curvy</option>
                        <option value="Athletic">Athletic</option>
                        <option value="Muscular">Muscular</option>
                        <option value="Slim">Slim</option>
                    </select>
                    
                    <div class="alert alert-danger mt-1" role="alert" *ngIf="registerFormControl.bodyType.invalid && registerFormControl.bodyType.touched">
                    <small class="text-danger" *ngIf="registerFormControl.bodyType.errors?.required">   <i class="fa fa-remove"></i>Body Type is required</small>
                        </div>
                </div>
                <div class="form-group">
                    <label for="height">What is your height ?</label>
                    <select class="form-control autofill" [class.is-invalid]="registerFormControl.height.invalid && registerFormControl.height.touched"  [class.is-valid]="registerFormControl.height.valid && registerFormControl.height.untouched"  formControlName="height" required name="height" id="height"
                        tabindex="2">
                        <option value="" selected></option>
                        <option value="91">3'</option>
                        <option value="94">3'1"</option>
                        <option value="96">3'2"</option>
                        <option value="99">3'3"</option>
                        <option value="101">3'4"</option>
                        <option value="104">3'5"</option>
                        <option value="106">3'6"</option>
                        <option value="109">3'7"</option>
                        <option value="111">3'8"</option>
                        <option value="114">3'9"</option>
                        <option value="116">3'10"</option>
                        <option value="119">3'11"</option>
                        <option value="122">4'</option>
                        <option value="124">4'1"</option>
                        <option value="127">4'2"</option>
                        <option value="129">4'3"</option>
                        <option value="132">4'4"</option>
                        <option value="134">4'5"</option>
                        <option value="137">4'6"</option>
                        <option value="139">4'7"</option>
                        <option value="142">4'8"</option>
                        <option value="144">4'9"</option>
                        <option value="147">4'10"</option>
                        <option value="149">4'11"</option>
                        <option value="152">5'</option>
                        <option value="155">5'1"</option>
                        <option value="157">5'2"</option>
                        <option value="160">5'3"</option>
                        <option value="162">5'4"</option>
                        <option value="165">5'5"</option>
                        <option value="167">5'6"</option>
                        <option value="170">5'7"</option>
                        <option value="172">5'8"</option>
                        <option value="175">5'9"</option>
                        <option value="177">5'10"</option>
                        <option value="180">5'11"</option>
                        <option value="183">6'</option>
                        <option value="185">6'1"</option>
                        <option value="188">6'2"</option>
                        <option value="190">6'3"</option>
                        <option value="193">6'4"</option>
                        <option value="195">6'5"</option>
                        <option value="198">6'6"</option>
                        <option value="200">6'7"</option>
                        <option value="203">6'8"</option>
                        <option value="205">6'9"</option>
                        <option value="208">6'10"</option>
                        <option value="210">6'11"</option>
                        <option value="213">7'</option>
                        <option value="216">7'1"</option>
                        <option value="218">7'2"</option>
                        <option value="221">7'3"</option>
                        <option value="223">7'4"</option>
                        <option value="226">7'5"</option>
                        <option value="228">7'6"</option>
                        <option value="231">7'7"</option>
                        <option value="233">7'8"</option>
                        <option value="236">7'9"</option>
                        <option value="238">7'10"</option>
                        <option value="241">7'11"</option>
                    </select>

                    <div class="alert alert-danger mt-1" role="alert" *ngIf="registerFormControl.height.invalid && registerFormControl.height.touched"    >
                        <small class="text-danger" *ngIf="registerFormControl.height.errors?.required">   <i class="fa fa-remove"></i>Body Type is required</small>
                    
                    </div>
                </div>
                <div class="form-group">
                    <label for="eye">What is your eye colour ?</label>
                    <select class="form-control autofill" [class.is-invalid]="registerFormControl.eyes.invalid && registerFormControl.eyes.touched"  [class.is-valid]="registerFormControl.eyes.valid && registerFormControl.eyes.untouched"  required name="eyes" formControlName="eyes" tabindex="2"
                        id="eye">
                        <option value=" " selected></option>
                        <option  value="Blue">Blue</option>
                        <option  value="Brown">Brown</option>
                        <option  value="Gray">Gray</option>
                        <option  value="Green">Green</option>
                        <option  value="Hazel">Hazel</option>
                    </select>
                    <div class="alert alert-danger mt-1" role="alert" *ngIf="registerFormControl.eyes.invalid && registerFormControl.eyes.touched"    >
                        <small class="text-danger" *ngIf="registerFormControl.eyes.errors?.required">   <i class="fa fa-remove"></i>Eye Color is required</small>
                    
                    </div>
                </div>
                <div class="form-group">
                    <label for="hair">What is your hair color?</label>
                    <select class="form-control autofill"[class.is-invalid]="registerFormControl.hair.invalid && registerFormControl.hair.touched"  [class.is-valid]="registerFormControl.hair.valid && registerFormControl.hair.untouched"  required name="hair"  formControlName="hair" tabindex="2">
                        <option value="" selected></option>
                        <option value="black">Black</option>
                        <option value="blond">Blond</option>
                        <option value="brown">Brown</option>
                        <option value="fair">Fair</option>
                        <option value="chestnut">Chestnut</option>
                        <option value="red">Red</option>
                        <option value="bal">Bald</option>
                    </select>
                    <div class="alert alert-danger mt-1" role="alert" *ngIf="registerFormControl.hair.invalid && registerFormControl.hair.touched"    >
                        <small class="text-danger" *ngIf="registerFormControl.hair.errors?.required">   <i class="fa fa-remove"></i>Hair Color is required</small>
                    
                    </div>
                </div>
            </div>
        </ng-wizard-step>

        <ng-wizard-step [title]="'Step 3'" [description]="'Step 3 description'">


            <div class="container  col-lg-4 " id="signup-form">
                <h2 class="text-center" style="font-size:33px;">
                    <strong>Your Relationship</strong>
                    <hr class="col-lg-5 mb-4">
                </h2>
                <div class="form-group">
                    <label for="languages">Which Language do you know?</label>
                    <select class="form-control" [class.is-invalid]="registerFormControl.languages.invalid && registerFormControl.languages.touched"  [class.is-valid]="registerFormControl.languages.valid && registerFormControl.languages.untouched" required formControlName="languages" name="languages" id="languages">
                        <option value="" selected></option>
                        <option value="Afrikaans">Afrikaans</option>
                        <option value="Albanian">Albanian</option>
                        <option value="Arabic">Arabic</option>
                        <option value="Armenian">Armenian</option>
                        <option value="Basque">Basque</option>
                        <option value="Bengali">Bengali</option>
                        <option value="Bulgarian">Bulgarian</option>
                        <option value="Catalan">Catalan</option>
                        <option value="Cambodian">Cambodian</option>
                        <option value="Chinese (Mandarin)">Chinese (Mandarin)</option>
                        <option value="Croatian">Croatian</option>
                        <option value="Czech">Czech</option>
                        <option value="Danish">Danish</option>
                        <option value="Dutch">Dutch</option>
                        <option value="English">English</option>
                        <option value="Estonian">Estonian</option>
                        <option value="Fiji">Fiji</option>
                        <option value="Finnish">Finnish</option>
                        <option value="French">French</option>
                        <option value="Georgian">Georgian</option>
                        <option value="German">German</option>
                        <option value="Greek">Greek</option>
                        <option value="Gujarati">Gujarati</option>
                        <option value="Hebrew">Hebrew</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Hungarian">Hungarian</option>
                        <option value="Icelandic">Icelandic</option>
                        <option value="Indonesian">Indonesian</option>
                        <option value="Irish">Irish</option>
                        <option value="Italian">Italian</option>
                        <option value="Japanese">Japanese</option>
                        <option value="Javanese">Javanese</option>
                        <option value="Korean">Korean</option>
                        <option value="Latin">Latin</option>
                        <option value="Latvian">Latvian</option>
                        <option value="Lithuanian">Lithuanian</option>
                        <option value="Macedonian">Macedonian</option>
                        <option value="Malay">Malay</option>
                        <option value="Malayalam">Malayalam</option>
                        <option value="Maltese">Maltese</option>
                        <option value="Maori">Maori</option>
                        <option value="Marathi">Marathi</option>
                        <option value="Mongolian">Mongolian</option>
                        <option value="Nepali">Nepali</option>
                        <option value="Norwegian">Norwegian</option>
                        <option value="Persian">Persian</option>
                        <option value="Polish">Polish</option>
                        <option value="Portuguese">Portuguese</option>
                        <option value="Punjabi">Punjabi</option>
                        <option value="Quechua">Quechua</option>
                        <option value="Romanian">Romanian</option>
                        <option value="Russian">Russian</option>
                        <option value="Samoan">Samoan</option>
                        <option value="Serbian">Serbian</option>
                        <option value="Slovak">Slovak</option>
                        <option value="Slovenian">Slovenian</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Swahili">Swahili</option>
                        <option value="Swedish ">Swedish </option>
                        <option value="Tamil">Tamil</option>
                        <option value="Tatar">Tatar</option>
                        <option value="Telugu">Telugu</option>
                        <option value="Thai">Thai</option>
                        <option value="Tibetan">Tibetan</option>
                        <option value="Tonga">Tonga</option>
                        <option value="Turkish">Turkish</option>
                        <option value="Ukrainian">Ukrainian</option>
                        <option value="Urdu">Urdu</option>
                        <option value="Uzbek">Uzbek</option>
                        <option value="Vietnamese">Vietnamese</option>
                        <option value="Welsh">Welsh</option>
                        <option value="Xhosa">Xhosa</option>
                    </select>
                    <div class="alert alert-danger mt-1" role="alert" *ngIf="registerFormControl.languages.invalid && registerFormControl.languages.touched"    >
                        <small class="text-danger" *ngIf="registerFormControl.languages.errors?.required">   <i class="fa fa-remove"></i>Languagesis required</small>
                    
                    </div>
                </div>
                <div class="form-group">
                    <label for="relationship">What is your relationship Status?</label>
                    <select class="form-control"[class.is-invalid]="registerFormControl.relationship.invalid && registerFormControl.relationship.touched"  [class.is-valid]="registerFormControl.relationship.valid && registerFormControl.relationship.untouched"  required formControlName="relationship" name="relationship"
                        id="relationship">
                        <option value="" selected></option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                        <option value="Separated">Separated</option>
                        <option value="Divorced">Divorced</option>
                        <option value="Widowed">Widowed</option>
                    </select>
                    <div class="alert alert-danger mt-1" role="alert" *ngIf="registerFormControl.relationship.invalid && registerFormControl.relationship.touched"    >
                        <small class="text-danger" *ngIf="registerFormControl.relationship.errors?.required">   <i class="fa fa-remove"></i>Relationship Status is required</small>
                    
                    </div>
                </div>
                <div class="form-group">
                    <label for="known">Known</label>
                    <input type="text" name="known"[class.is-invalid]="registerFormControl.known.invalid && registerFormControl.known.touched"  [class.is-valid]="registerFormControl.known.valid && registerFormControl.known.untouched"  required id="known" formControlName="known" class="form-control">
                    <div class="alert alert-danger mt-1" role="alert" *ngIf="registerFormControl.known.invalid && registerFormControl.known.touched"    >
                        <small class="text-danger" *ngIf="registerFormControl.known.errors?.required">   <i class="fa fa-remove"></i>Known Status is required</small>
                    
                    </div>
                </div>

                <div class="form-group">
                    <label for="workAs">What is your Occupation ?</label>
                    <select class="form-control" [class.is-invalid]="registerFormControl.workAs.invalid && registerFormControl.workAs.touched"  [class.is-valid]="registerFormControl.workAs.valid && registerFormControl.workAs.untouched"  name="workAs" formControlName="workAs" required id="workAs">
                        <option value="" selected></option>
                        <option value="Administrative / Secretarial / Clerical">Administrative / Secretarial / Clerical
                        </option>
                        <option value="Advertising / Media">Advertising / Media</option>
                        <option value="Artistic / Creative / Performance">Artistic / Creative / Performance</option>
                        <option value="Construction / Trades">Construction / Trades</option>
                        <option value="Domestic Helper">Domestic Helper</option>
                        <option value="Education / Academic">Education / Academic</option>
                        <option value="Entertainment / Media">Entertainment / Media</option>
                        <option value="Executive / Management / HR">Executive / Management / HR</option>
                        <option value="Farming / Agriculture">Farming / Agriculture</option>
                        <option value="Finance / Banking / Real Estate">Finance / Banking / Real Estate</option>
                        <option value="Fire / law enforcement / security">Fire / law enforcement / security</option>
                        <option value="Hair Dresser / Personal Grooming">Hair Dresser / Personal Grooming</option>
                        <option value="IT / Communications">IT / Communications</option>
                        <option value="Laborer / Manufacturing">Laborer / Manufacturing</option>
                        <option value="Legal">Legal</option>
                        <option value="Medical / Dental / Veterinary">Medical / Dental / Veterinary</option>
                        <option value="Military">Military</option>
                        <option value="Model">Model</option>
                        <option value="Nanny / Child care">Nanny / Child care</option>
                        <option value="No occupation / Stay at home">No occupation / Stay at home</option>
                        <option value="Non-profit / clergy / social services">Non-profit / clergy / social services
                        </option>
                        <option value="Political / Govt / Civil Service">Political / Govt / Civil Service</option>
                        <option value="Retail / Food services">Retail / Food services</option>
                        <option value="Retired">Retired</option>
                        <option value="Sales / Marketing">Sales / Marketing</option>
                        <option value="Self Employed">Self Employed</option>
                        <option value="Sports / recreation">Sports / recreation</option>
                        <option value="Student">Student</option>
                        <option value="Technical / Science / Engineering">Technical / Science / Engineering</option>
                        <option value="Transportation">Transportation</option>
                        <option value="Travel / Hospitality">Travel / Hospitality</option>
                        <option value="Unemployed">Unemployed</option>
                        <option value="Other">Other</option>
                    </select>
                    <div class="alert alert-danger mt-1" role="alert" *ngIf="registerFormControl.workAs.invalid && registerFormControl.workAs.touched"    >
                        <small class="text-danger" *ngIf="registerFormControl.workAs.errors?.required">   <i class="fa fa-remove"></i>Ocuupation is required</small>
                    
                    </div>
                </div>
                <div class="form-group">
                    <label for="lookingFor">Looking For?</label>
                    <textarea class="form-control" [class.is-invalid]="registerFormControl.lookingFor.invalid && registerFormControl.lookingFor.touched"  [class.is-valid]="registerFormControl.lookingFor.valid && registerFormControl.lookingFor.untouched"  required name="lookingFor" formControlName="lookingFor"
                        id="lookingFor" selected></textarea>
                        <div class="alert alert-danger mt-1" role="alert" *ngIf="registerFormControl.lookingFor.invalid && registerFormControl.lookingFor.touched"    >
                            <small class="text-danger" *ngIf="registerFormControl.lookingFor.errors?.required">   <i class="fa fa-remove"></i>lookingFor is required</small>
                        
                        </div>
                </div>
                <div class="form-group">
                    <label for="haveKids">Do you have kids?</label>
                    <select class="form-control" [class.is-invalid]="registerFormControl.haveKids.invalid && registerFormControl.haveKids.touched"  [class.is-valid]="registerFormControl.haveKids.valid && registerFormControl.haveKids.untouched"  required name="haveKids" formControlName="haveKids" id="haveKids">
                        <option value="" selected></option>
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                        <option value="Maybe">Maybe</option>
                        <option value="I Want some">I Want some</option>
                    </select>
                    <div class="alert alert-danger mt-1" role="alert" *ngIf="registerFormControl.haveKids.invalid && registerFormControl.haveKids.touched"    >
                        <small class="text-danger" *ngIf="registerFormControl.haveKids.errors?.required">   <i class="fa fa-remove"></i>lookingFor is required</small>
                    
                    </div>
                </div>
                <div class="form-group">
                    <label for="smoke">Do you smoke ?</label>
                    <select class="form-control" [class.is-invalid]="registerFormControl.smoke.invalid && registerFormControl.smoke.touched"  [class.is-valid]="registerFormControl.smoke.valid && registerFormControl.smoke.untouched"  required formControlName="smoke" name="smoke" id="smoke">
                        <option value="" selected></option>
                        <option value="Never">Never</option>
                        <option value="Occasionally">Occasionally</option>
                        <option value="Regularly">Regularly</option>
                    </select>
                    <div class="alert alert-danger mt-1" role="alert" *ngIf="registerFormControl.smoke.invalid && registerFormControl.smoke.touched"    >
                        <small class="text-danger" *ngIf="registerFormControl.smoke.errors?.required">   <i class="fa fa-remove"></i>Smoke  is required</small>
                    
                    </div>
                </div>
                <div class="form-group">
                    <label for="drink">Do you Drink ?</label>
                    <select class="form-control"[class.is-invalid]="registerFormControl.drink.invalid && registerFormControl.drink.touched"  [class.is-valid]="registerFormControl.drink.valid && registerFormControl.drink.untouched"   required name="drink" formControlName="drink" id="drink">
                        <option value="" selected></option>
                        <option value="Never">Never</option>
                        <option value="Occasionally">Occasionally</option>
                        <option value="Regularly">Regularly</option>
                    </select>
                    <div class="alert alert-danger mt-1" role="alert" *ngIf="registerFormControl.drink.invalid && registerFormControl.drink.touched"    >
                        <small class="text-danger" *ngIf="registerFormControl.drink.errors?.required">   <i class="fa fa-remove"></i>Smoke  is required</small>
                    
                    </div>
                </div>

            </div>
        </ng-wizard-step>

    </ng-wizard>
    <!--  =============================================== Form submit button  field ========================================-->

</form>
<app-footer></app-footer>